<!------------------------------------------------------Index page------------------------------------------------------------------------->

 .bs-example{
        margin: 20px;
    }
	
  h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;  
	
}

.item{
    background: white;    
    text-align: center;
    height: 300px !important;
}

.carousel{
    margin-top: 20px;
}

.carousel.carousel-fade .item {
  opacity:0;
  filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
    opacity:1;
    filter: alpha(opacity=100); /* ie fix */
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}


.tcb-product-slider {
  background:;
  background-image: ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.tcb-product-slider .carousel-control {
  width: 10%;
}
.tcb-product-item a {
  color: #147196;
}
.tcb-product-item a:hover {
  text-decoration: none;
}
.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
@media all and (max-width: 786px) {
  .tcb-product-item {
    margin-bottom: 40px;
  }
}
.tcb-product-photo {
  text-align: center;
  height: 180px;
  background: #fff;
}
.tcb-product-photo img {
  height: 100%;
  display: inline-block;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}
.tcb-product-title h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tcb-product-rating {
  color: #acacac;
}
.tcb-product-rating .active {
  color: #FFB500;
}
.tcb-product-price {
  color: firebrick;
  font-size: 18px;
}

.details {
    margin: 50px 0; }
 .details h1 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 3px; }
    .details .back-link {
      text-align: center; }
      .details .back-link a {
        display: inline-block;
        margin: 20px 0;
        padding: 15px 30px;
        background: #333;
        color: #fff;
        border-radius: 24px; }
        .details .back-link a svg {
          margin-right: 10px;
          vertical-align: text-top;
          display: inline-block; }
		  
		  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
	
	.ourworks-box{
	width: 60%;
	justify-content: center;
	text-align: center;
}

.our-works-head{
	font-size: 30px;
	font-weight: 400;
	color: black;
}
.introduce{
	height: 250px;
	background-color:white;
	box-shadow: 0 3px 10px #5969f642;
	border-bottom: 4px solid #5969f6;
	color: black;
}

.introduce:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-bottom: 4px solid #B122e5;
	color: black;
	text-decoration: none;
}
.flex-column-1{
	height: 70%;
	width: 100%;

}
.flex-column-2{
	height: 30%;
	width: 100%;
	align-items:center;
}
.text-gray{
	color: gray;
}
.pic{
    height: 100%;
    width: 70px;
    margin-left: 20px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.introduce:hover .pic{
	transform: scale(1.1);
}
.carousel-indicators .active{
	background-color: #46eeaa;
}
.carousel-indicators li{
	background-color: #c8e5ff;
}
.carousel-indicators{
	bottom: -50px;
}
.p1{
	background-image: url("http://lorempixel.com/150/150/nature");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.p2{
	background-image: url("http://lorempixel.com/150/150/people");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.p3{
	background-image: url("http://lorempixel.com/150/150/cats");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
    .portfolio-section{
    padding: 0;
}

.portfolio-section .portfolio-section-inner{
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 2000px;
}

.portfolio-section-inner .portfolio-section-row{
    display: table-row;
    width: 100%;
}

.portfolio-section-inner .portfolio-section-data{
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
    height: 420px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.portfolio-section-inner .portfolio-section-data .portfolio-section-text{
    position: absolute;
    top: 150%;;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    margin: auto;
     -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-section-inner .portfolio-section-data:hover .portfolio-section-text{
    top: 0;
}

.portfolio-section-text .portfolio-section-text-inner{
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-section-text p{
    font-size: 28px;
    line-height: 1.6;
    color: #fff;
}

.portfolio-section-text a{
    color: #F05F40;
    font-size: 14px;
}

.portfolio-section-text a:hover{
    color: #fff;
}


.textcenter {
	text-align: center;
}


.seperator {
	border-bottom:1px solid #a2a2a2;
	width: 50px;
	display: inline-block;
	margin: 10px;
}

.container .innerwrap{
	padding: 0 50px 70px;
	background-color: FAF0E6;
	width: 1100px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1000px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: white;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color:#1A1918;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
              
<!------------------------------------------------------end-------------------------------------------------------------------------------->
              
<!-------------------------------------------------------Product---------------------------------------------------------------------------->
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

/* 
℘ąŋƙąʝ ɖɧıɱąŋ
*/

body {
    background: #fff;
    color: #414141;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

background-image {
  
}

a {
    text-decoration: none;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
    outline: medium none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%, height: auto;
}

strong,
b {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

.clear {
    border: 0;
    clear: both;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

html,
body {
    height: 100%;
}

/**** NAV ****/
nav.navbar-default {
    background-color: rgba(0, 0, 0, 0.28);
    border-color: rgba(0, 0, 0, 0.05);
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default.affix {
    background-color:#222;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

nav.navbar-default .navbar-brand:focus, nav.navbar-default .navbar-brand:hover {
    color: #fff !important;
    background-color: transparent;
}

nav.navbar-default .navbar-nav>li>a{
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

nav.navbar-default .navbar-nav>li>a:focus,
nav.navbar-default .navbar-nav>li>a:hover {
    color: #F05F40;
    background-color: transparent;
}

nav.navbar-default .navbar-nav li a.active,
nav.navbar-default .navbar-nav li a.active:focus,
nav.navbar-default .navbar-nav li a.active:hover {
    color: #F05F40;
    background-color: transparent;
}


/**** NAV END ****/
/**************All Products*******/
    
   *{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
} 
    #wrap{
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}
#columns:hover figure:not(:hover) {
	opacity: 0.4;
}
div#columns figure {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:60px;
  font-weight:600;
  text-overflow:ellipsis;
}

a.button{
  padding:10px;
  background:salmon;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #ff6536;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
  background:#ff6536;
  border-bottom:3px solid salmon;
  color:#f1f2f3;
}
@media screen and (max-width: 960px) { 
  #columns figure { width: 24%; }
}
@media screen and (max-width: 767px) {
  #columns figure { width:32%;}
}
@media screen and (max-width: 600px) {
  #columns figure { width: 49%;}
}
@media screen and (max-width: 500px) {
  #columns figure { width: 100%;}
}
    
    
    row-2{
        justify-content: space-between;
        margin: 100px auto 50px;
    }
    
    
    select{
        border: 1px solid #ff523b;
        padding: 5px;
    }
    select:focus{
        outline: none;
        
    }
    
    .page-btn {
        margin:0 auto 80px; 
    }
    .page-btn span {
        display: inline-block;
        border: 2px solid #ff523b;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        
    }
    .page-btn span:hover {
        background: #ff523b;
        color: white;
    }
    
  

/****end******/
/**** FOOTER ****/

footer{
    background: #222;
    padding: 80px 0;
    position: relative;
    text-align: center;
}

footer h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

footer p{
    font-size: 18px;
    line-height: 1.6;
    color: #adadad;
}

.gap{
    display: block;
    margin-top: 50px;
}

footer span.glyphicon{
    color: #adadad;
    font-size: 28px;
    display: block;
    margin: 0 auto 30px;
}

footer a{
    color: #adadad;
    
}

footer a:hover{
    color: #F05F40;
}
            
<!------------------------------------------------------end--------------------------------------------------------------------------------->
<!------------------------------------------------------Blog-------------------------------------------------------------------------------->
header {
    min-height: 95%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

header,
header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
}

header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 -10px;
    z-index: 10;
}

header .header-content .header-content-inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.41);
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

.header-content-inner h1 {
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.header-content-inner h1:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background: #F05F40;
}

.header-content-inner p {
    font-size: 22px;
    line-height: 1.8;
    color: #e4e4e4;
}

body {
  padding: 	px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}


footer{
    background: #222;
    padding: -10px 0;
    position: relative;
    text-align: center;
}

footer h3{
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

footer p{
    font-size: 18px;
    line-height: 1.0;
    color: #adadad;
}

.gap{
    display: block;
    margin-top: 50px;
}

footer span.glyphicon{
    color: #adadad;
    font-size: 20px;
    display: block;
    margin: 0 auto 30px;
}

footer a{
    color: #adadad;
    
}

footer a:hover{
    color: #F05F40;
}              
<!--------------------------------------------------------end-------------------------------------------------------------------------------->
<!-------------------------------------------------------Aboutus------------------------------------------------------------------------------>
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

/* 
℘ąŋƙąʝ ɖɧıɱąŋ
*/

body {
    background: #fff;
    color: #414141;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

background-image {
  
}

a {
    text-decoration: none;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
    outline: medium none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%, height: auto;
}

strong,
b {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

.clear {
    border: 0;
    clear: both;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

html,
body {
    height: 100%;
}

/**** NAV ****/
nav.navbar-default {
    background-color: rgba(0, 0, 0, 0.28);
    border-color: rgba(0, 0, 0, 0.05);
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default.affix {
    background-color:#222;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

nav.navbar-default .navbar-brand:focus, nav.navbar-default .navbar-brand:hover {
    color: #fff !important;
    background-color: transparent;
}

nav.navbar-default .navbar-nav>li>a{
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

nav.navbar-default .navbar-nav>li>a:focus,
nav.navbar-default .navbar-nav>li>a:hover {
    color: #F05F40;
    background-color: transparent;
}

nav.navbar-default .navbar-nav li a.active,
nav.navbar-default .navbar-nav li a.active:focus,
nav.navbar-default .navbar-nav li a.active:hover {
    color: #F05F40;
    background-color: transparent;
}


/**** NAV END ****/
/**** HEADER ****/
header {
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

header,
header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
}

header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    z-index: 10;
}

header .header-content .header-content-inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.41);
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

.header-content-inner h1 {
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.header-content-inner h1:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background: #F05F40;
}

.header-content-inner p {
    font-size: 22px;
    line-height: 1.8;
    color: #e4e4e4;
}
/**** HEADER END ****/
/**** ABOUT ****/
.bg-color{
    background:#F05F40;
}

section{
    padding: 80px 0;
    position: relative;
    text-align: center;
}

.about-section h3{
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.about-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#c34d34;
}

.about-section p{
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 15px;
}

.btn-default-new{
    background: #c34d34;
    border-radius: 30px;
    border: solid 3px #c34d34;
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding: 0 25px;
    line-height: 3.1;
    margin-top: 30px;
    letter-spacing: 0.05em;
    -ms-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.btn-default-new:hover, .btn-default-new:focus{
    background: #fff;
    color: #c34d34;
    border-color: #c34d34;
}
/**** ABOUT END ****/
/**** SERVICE ****/

.service-section h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.05em;
}

.service-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

.service-items .icon{
    color: #F05F40;
    font-size: 36px;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    border: solid 2px #F05F40;
    margin: 0 auto 30px;
    line-height: 98px;
}

.service-items h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #F05F40;
    
}

.service-items h4 a{
    color: #222;
}

.service-items h4 a:hover{
    color: #F05F40;
}

.service-items p{
    font-size: 16px;
    line-height: 1.6;
    color: #414141;
    margin-bottom: 15px;
}

/**** SERVICE END ****/
/**** PORTFOLIO ****/

.portfolio-section{
    padding: 0;
}

.portfolio-section .portfolio-section-inner{
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 2000px;
}

.portfolio-section-inner .portfolio-section-row{
    display: table-row;
    width: 100%;
}

.portfolio-section-inner .portfolio-section-data{
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
    height: 420px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.portfolio-section-inner .portfolio-section-data .portfolio-section-text{
    position: absolute;
    top: 150%;;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    margin: auto;
     -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-section-inner .portfolio-section-data:hover .portfolio-section-text{
    top: 0;
}

.portfolio-section-text .portfolio-section-text-inner{
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-section-text p{
    font-size: 28px;
    line-height: 1.6;
    color: #fff;
}

.portfolio-section-text a{
    color: #F05F40;
    font-size: 14px;
}

.portfolio-section-text a:hover{
    color: #fff;
}
/**** PORTFOLIO ****/
/**** FOOTER ****/

footer{
    background: #222;
    padding: 80px 0;
    position: relative;
    text-align: center;
}

footer h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

footer p{
    font-size: 18px;
    line-height: 1.6;
    color: #adadad;
}

.gap{
    display: block;
    margin-top: 50px;
}

footer span.glyphicon{
    color: #adadad;
    font-size: 28px;
    display: block;
    margin: 0 auto 30px;
}

footer a{
    color: #adadad;
    
}

footer a:hover{
    color: #F05F40;
}

<!--------------------------------------------------------end--------------------------------------------------------------------------------->
<!--------------------------------------------------------prod-details------------------------------------------------------------------------->
        /* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
    
/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}
    
/* Left Column */
.left-column img {
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}
    
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
    
/* Product Color */
.product-color {
  margin-bottom: 30px;
}
 
.color-choose div {
  display: inline-block;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] {
  display: none;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]#red + label span {
  background-color: #C91524;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#blue + label span {
  background-color: #314780;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#black + label span {
  background-color: #323232;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}
    
/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: &amp;quot;?&amp;quot;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}
    
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}
    
/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

    
    
    
/**************All Products*******/
    
   *{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
} 
    #wrap{
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}
#columns:hover figure:not(:hover) {
	opacity: 0.4;
}
div#columns figure {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:60px;
  font-weight:600;
  text-overflow:ellipsis;
}

a.button{
  padding:10px;
  background:salmon;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #ff6536;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
  background:#ff6536;
  border-bottom:3px solid salmon;
  color:#f1f2f3;
}
@media screen and (max-width: 960px) { 
  #columns figure { width: 24%; }
}
@media screen and (max-width: 767px) {
  #columns figure { width:32%;}
}
@media screen and (max-width: 600px) {
  #columns figure { width: 49%;}
}
@media screen and (max-width: 500px) {
  #columns figure { width: 100%;}
}
    
    
    row-2{
        justify-content: space-between;
        margin: 100px auto 50px;
    }
    
    
    select{
        border: 1px solid #ff523b;
        padding: 5px;
    }
    select:focus{
        outline: none;
        
    }
    
    .page-btn {
        margin:0 auto 80px; 
    }
    .page-btn span {
        display: inline-block;
        border: 2px solid #ff523b;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        
    }
    .page-btn span:hover {
        background: #ff523b;
        color: white;
    }
    
  

/****end******/
    
/**** FOOTER ****/

footer{
    background: #222;
    padding: 80px 0;
    position: relative;
    text-align: center;
}

footer h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

footer p{
    font-size: 18px;
    line-height: 1.6;
    color: #adadad;
}

.gap{
    display: block;
    margin-top: 50px;
}

footer span.glyphicon{
    color: #adadad;
    font-size: 28px;
    display: block;
    margin: 0 auto 30px;
}

footer a{
    color: #adadad;
    
}

footer a:hover{
    color: #F05F40;
}
      
<!-------------------------------------------------------------end------------------------------------------------------------------------------>
<!-------------------------------------------------------------cart----------------------------------------------------------------------------->
.cart-page{
        margin: 80px auto;
    
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
    .cart-info{
        display: flex;
        flex-wrap: wrap;
    }
    th{
        text-align: left;
        padding: 5px;
        color: #fff;
        background: #C0C0C0;
        font-weight: normal;
    }
    td{
        padding: 10px 10px;
    }
    
    td input{
        width: 40px;
        height: 30px;
        padding: 5px;
    }
    td a{
        color: #C0C0C0;
        font-size: 12px;
    }
    td img{
        width: 200px;
        height: 200px;
        margin-right: 30px;
    }
    .tatal-price{
        display: flex;
        justify-content: flex-end;
    }
    .table-price table{
        border-top: 3px solid black;
        width=100px;
        max-width: 5000px;
    }
    td:last-child{
        text-align: right;
        
    }
    th:last-child{
        text-align: right;
    }

    
/**** FOOTER ****/

footer{
    background: #222;
    padding: 80px 0;
    position: relative;
    text-align: center;
}

footer h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

footer p{
    font-size: 18px;
    line-height: 1.6;
    color: #adadad;
}

.gap{
    display: block;
    margin-top: 50px;
}

footer span.glyphicon{
    color: #adadad;
    font-size: 28px;
    display: block;
    margin: 0 auto 30px;
}

footer a{
    color: #adadad;
    
}

footer a:hover{
    color: #F05F40;
}

<!---------------------------------------------------------------end---------------------------------------------------------------------------->
<!--------------------------------------------------------------checkout------------------------------------------------------------------------>
.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
<!---------------------------------------------------------------end---------------------------------------------------------------------------->